.section {
	@apply h-[calc(65dvh-60px)] min-h-[300px] md:h-[calc(70dvh-60px)] sm:max-h-[400px] lg:max-h-[550px] xl:max-h-fit;
	@apply bg-OffWhite-100 relative;
	/* @apply relative px-[5vw] sm:px-[3.5vw] lg:px-[3vw]; */
}

.sectionShort {
	@apply h-[30vh] min-h-[400px] max-h-[600px];
	@apply bg-background relative;
}

.header {
	@apply text-foreground text-4xl font-semibold lg:tracking-tight;
}

.subheader {
	@apply text-muted-foreground text-base lg:text-xl;
}
