.main {
	@apply lg:flex h-screen;
}

.mainHeader {
	@apply text-2xl font-semibold text-foreground uppercase;
}

.mainParagraph {
	@apply text-base text-muted-foreground normal-case;
}

.wrapperLeft {
	@apply pl-4 md:pl-16 w-full lg:w-2/3 flex justify-center items-center flex-col h-full p-4;
}

.wrapperRight {
	@apply pr-4 md:pr-16 hidden lg:block w-1/3 lg:flex-1 h-full p-4 lg:min-w-[600px] xl:min-w-[800px] max-w-[1000px];
}

.inputLabel {
	@apply text-xs text-foreground uppercase font-semibold;
}

.inputField {
	@apply placeholder:bg-transparent;
	@apply placeholder:text-sm placeholder:text-primary placeholder:normal-case rounded-none outline-none h-10 px-2 mt-2;
}

.showPassword {
	@apply absolute inset-y-0 end-0 flex h-full w-10 items-center justify-center rounded-e-lg text-muted-foreground/80 outline-offset-2 transition-colors hover:text-foreground focus:z-10 focus-visible:outline focus-visible:outline-2 focus-visible:outline-ring/70 disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
}
