.section {
	@apply bg-[#fafafa] px-[5vw];
	@apply space-y-12 md:space-y-14 xl:space-y-16;
	@apply pb-12 md:pb-16 lg:pb-20;
}

.headerTwo {
	@apply font-barlow uppercase text-Green-300 font-semibold leading-tight tracking-tight;
	@apply text-sm md:text-lg;
}

.headerOne {
	@apply font-raleway uppercase font-medium leading-tight tracking-tight;
	@apply text-2xl md:text-4xl xl:text-5xl;
}

.carouselItem {
	@apply flex flex-col justify-between;
	@apply gap-10 lg:gap-20;
	/* @apply bg-White-100; */
	@apply border border-Green-300;
	@apply p-5 sm:p-8 h-full;
}

.carouselHeader {
	@apply text-lg font-raleway;
}

.carouselText {
	@apply text-base uppercase font-barlow;
}

/* max-w-7xl */