.section {
	/* @apply bg-[#fafafa] px-[5vw]; */
	@apply space-y-12 md:space-y-14 xl:space-y-16;
	@apply pt-12 pb-12 md:pb-16 lg:pb-20;
}

.headerTwo {
	@apply font-barlow uppercase text-foreground font-semibold leading-tight tracking-tight;
	@apply text-sm md:text-lg;
}

.headerOne {
	@apply font-barlow uppercase font-medium leading-tight tracking-tight;
	@apply text-2xl md:text-4xl xl:text-5xl;
}

.carouselItem {
	@apply flex flex-col justify-between;
	@apply gap-5 lg:gap-10;
	@apply border;
	@apply p-5 sm:p-8 h-full;
}

.carouselHeader {
	@apply text-base font-barlow;
}

.carouselText {
	@apply text-base uppercase font-barlow pt-4;
}
