.SectionTopContainerParent {
	@apply bg-secondary w-full;
	@apply pt-16 pb-32;
}

.SectionBottomContainerParent {
	@apply bg-secondary w-full;
	@apply pb-12;
}

.SectionContentParent {
	@apply mx-auto max-w-7xl w-full;
}
.SectionContent {
	@apply px-0 [&>*]:mx-auto [&>*]:max-w-7xl lg:px-[3vw] sm:px-[3.5vw];
}
