.SectionTopContainerParent {
	@apply bg-secondary w-full;
	@apply pt-16 pb-32;
}

.SectionBottomContainerParent {
	@apply bg-secondary w-full;
	@apply pb-12;
}

/* .SectionContentParent {
	@apply mx-auto max-w-container-md w-full;
} */
.SectionContent {
	@apply [&>*]:mx-auto [&>*]:max-w-container-md;
}
