.section {
	@apply bg-White-100 px-[5vw];
	@apply sm:px-[3.5vw] lg:px-[3vw];
	@apply py-10 md:py-16;
}

.paragraph {
	@apply text-Black-100 leading-6 font-medium;
	@apply max-w-[800px] lg:max-w-[900px];
	@apply text-lg sm:text-xl md:text-lg lg:text-2xl;
}

.GetStartedLeft {
	@apply lg:border-r xl:py-16 space-y-6;
	@apply px-[5vw] sm:px-[3.5vw] xl:pr-16 xl:pl-[3vw];
}

.GetStartedRight {
	@apply border-t lg:mt-0 lg:pt-0 lg:border-none;
	@apply px-[5vw] sm:px-[3.5vw] xl:pl-16 xl:pr-[3vw] md:pt-16;
	@apply pt-10;
}

.GetStartedButton {
	@apply flex justify-between items-center flex-wrap w-full sm:w-fit md:w-fit h-fit;
	@apply py-4 px-8;
	@apply gap-x-6 gap-y-3  md:gap-x-12  sm:mx-auto;
}
