.section {
	@apply bg-White-100 px-[5vw];
	@apply sm:px-[3.5vw] lg:px-[3vw];
	@apply py-10 md:py-16;
}

.paragraph {
	@apply text-Black-100 leading-6 font-medium;
	@apply max-w-[800px] lg:max-w-[900px];
	@apply text-lg sm:text-xl md:text-lg lg:text-2xl;
}

.GetStartedLeft {
	@apply lg:border-r xl:py-16 space-y-6;
	@apply px-[5vw] sm:px-[3.5vw] xl:pr-16 xl:pl-[3vw];
}

.GetStartedRight {
	@apply border-t lg:mt-0 lg:pt-0 lg:border-none;
	@apply px-[5vw] sm:px-[3.5vw] xl:pl-16 xl:pr-[3vw] md:pt-16;
	@apply pt-10;
}

.GetStartedButton {
	@apply flex justify-between items-center flex-wrap w-full sm:w-fit md:w-fit h-fit;
	@apply py-4 px-8;
	@apply gap-x-6 gap-y-3  md:gap-x-12  sm:mx-auto;
}

.main {
	margin-top: 50vh;
	margin-bottom: 50vh;
}
/* @media (min-width: 1024px) {
	.main {
		margin-top: 50vh;
		margin-bottom: 50vh;
	}
} */

.cardContainer {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
}

.card {
	@apply flex flex-col justify-between;
	@apply relative rounded-sm;
	@apply w-full h-auto lg:h-[100vh] p-6 lg:px-10 lg:pt-10 lg:pb-5;
	transform-origin: top;
	@apply gap-8 lg:gap-16;
}

@media (min-width: 1024px) {
	.card {
		@apply flex flex-row;
		@apply relative;
		@apply px-[10rem] pt-[12rem] pb-[5rem];
	}
}

.heading2 {
	@apply m-0 text-5xl font-semibold text-left uppercase;
}

.leftSection {
	@apply flex flex-col gap-4 lg:gap-2 items-start lg:space-y-16;
	@apply w-full lg:flex-1;
}

.rightSection {
	@apply flex flex-col items-start gap-4 lg:gap-2 lg:space-y-4;
	@apply w-full lg:flex-1;
}
.stepNumber {
	@apply text-6xl lg:text-9xl font-semibold leading-none lg:leading-4 text-foreground;
	margin-bottom: 1rem;
}

.description {
	@apply relative;
	font-size: 16px;
	line-height: 1.6;
}

.contentRight {
	position: relative;
	width: 60%;
	height: 100%;
	border-radius: 25px;
	overflow: hidden;
}

.imageContainer {
	@apply relative w-full lg:w-[80%] aspect-square lg:h-full overflow-hidden rounded-sm;
	@apply mb-8 lg:mb-0;
}

.inner {
	width: 100%;
	height: 100%;
	position: relative;
}

.learnMore {
	@apply w-full lg:w-auto mt-4 lg:mt-0;
}

@media (max-width: 1024px) {
	.card {
		width: 90%;
		height: auto;
		min-height: 400px;
	}

	.body {
		flex-direction: column;
	}

	.description,
	.contentRight {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.card {
		padding: 1.5rem;
		min-height: auto;
		height: auto;
	}

	.leftSection,
	.rightSection {
		padding: 0;
	}

	.imageContainer {
		margin-bottom: 1.5rem;
	}

	.description {
		margin-bottom: 1.5rem;
	}
}
