.heading2 {
	@apply m-0 text-lg md:text-2xl xl:text-3xl font-semibold text-left uppercase;
}

.stepNumber {
	@apply text-2xl font-normal text-muted-foreground;
}

.imageContainer {
	@apply relative w-full lg:w-[80%] lg:h-full overflow-hidden rounded-sm;
	@apply mb-8 lg:mb-0;
}

.imageContainerStatic {
	@apply relative w-full h-full overflow-hidden rounded-sm;
	@apply mb-8 lg:mb-0;
}

.inner {
	width: 100%;
	height: 100%;
	position: relative;
}

.main {
	margin-top: 50vh;
	margin-bottom: 50vh;
	@apply w-full;
}

.mainStatic {
	@apply w-full py-16;
}

.cardContainer {
	@apply flex top-0;
	@apply h-full align-middle justify-center sticky;
	@apply w-full md:w-auto;
}

.cardContainerStatic {
	@apply relative mb-8;
	@apply h-auto align-middle justify-center;
}

.card {
	@apply flex flex-col md:flex-row  justify-between;
	@apply relative rounded-sm;
	@apply w-full h-auto lg:min-h-[80vh];
	@apply px-4 py-12 lg:px-24 lg:pt-[10rem] lg:pb-[5rem];
	@apply gap-8 lg:gap-24;
	transform-origin: top;
	overflow: visible;
}

.cardStatic {
	@apply w-full h-auto lg:min-h-[50vh];
	/* @apply py-12 lg:pt-[10rem] lg:pb-[5rem]; */
	@apply py-12;
	/* @apply gap-8 lg:gap-24; */
	transform-origin: top;
	overflow: visible;
}

.leftSection {
	@apply flex flex-col gap-4 lg:gap-2 items-start lg:space-y-8;
	@apply w-full lg:w-1/3;
	overflow: visible;
}

.description {
	@apply w-full;
	@apply text-base md:text-lg leading-relaxed;
	overflow: visible;
}

.description p {
	@apply m-0;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.rightSection {
	@apply flex flex-col items-end gap-4 lg:gap-2 lg:space-y-4;
	@apply w-full lg:w-2/3;
}

@media (max-width: 1024px) {
	.card {
		width: 90%;
		height: auto;
		min-height: 400px;
	}
}

@media (max-width: 768px) {
	.card {
		padding: 1.5rem;
		min-height: auto;
		height: auto;
	}
}
