.headerSection {
	@apply py-10 md:py-16 lg:py-20;
	@apply px-[5vw] sm:px-[3.5vw] lg:px-[3vw];
}

.bodySection {
	@apply lg:pb-32;
	@apply px-[0vw] sm:px-[3.5vw] lg:px-[3vw];
}

.headerTwo {
	@apply font-barlow uppercase text-Green-300 font-semibold leading-tight tracking-normal;
	@apply text-lg;
}

.headerOne {
	@apply font-raleway font-medium leading-tight tracking-normal;
	@apply text-lg md:text-xl lg:text-2xl;
}

.rightContainerBox {
	@apply bg-Green-200 h-fit w-full mx-auto flex items-center flex-col;
	@apply mt-5 md:mt-8 lg:mt-0 lg:max-w-[400px];
	@apply py-12 md:py-16 lg:py-20 px-10 gap-8 md:gap-10;
}
