.header {
	@apply text-3xl md:text-[44px] md:leading-tight xl:text-7xl uppercase tracking-wider font-bold text-Green-100;
}

.headerLeft {
	@apply min-[1400px]:text-right  min-[1400px]:pr-[14rem];
}

.gridContainer {
	@apply w-full grid grid-cols-2 md:grid-cols-4 xl:grid-cols-4 gap-5 pb-5;
}
