@import '../assets/fonts/Aerotis/Aerotis 400.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* --primary: 188 21% 36%; */ /* #48696E - OLD GREEN COLOR */
	/* --primary-foreground: 188 21% 24%; */ /* OLD GREEN FOREGROUND */
	--primary: 0 0% 0%; /* Black monochrome */
	--primary-foreground: 0 0% 100%; /* White for contrast */

	--secondary: 180 60% 94%; /* #E7F9F9 */
	--secondary-foreground: 240 10% 4%;

	--background: 0 0% 98%; /* #fafafa */
	--foreground: 240 10% 4%; /* #09090b */

	--background-accent: 0 0% 96%;

	--muted: 240 3.8% 96.1%;
	--muted-foreground: 240 3.8% 46.1%;

	--card: 0 0% 98%;
	--card-foreground: 240 10% 4%;

	--popover: 0 0% 98%;
	--popover-foreground: 240 10% 4%;

	--border: 214.3 31.8% 91.4%;
	--input: 214.3 31.8% 91.4%;

	--accent: 210 40% 96.1%;
	--accent-foreground: 222.2 47.4% 11.2%;

	--destructive: 0 100% 50%;
	--destructive-foreground: 210 40% 98%;

	/* --ring: 188 21% 36%; */ /* OLD GREEN RING COLOR */
	--ring: 0 0% 0%; /* Black monochrome ring */

	--radius: 0.125rem;
}

body {
	@apply font-barlow overflow-x-hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
	:root {
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.main-layout {
		/* @apply mx-auto w-full max-w-container-sm lg:max-w-container-md xl:max-w-container-lg; */
		@apply mb-6 lg:mb-0;
	}
	.md-container {
		@apply mx-auto w-full max-w-container-sm lg:max-w-container-md xl:max-w-container-lg;
		@apply lg:px-gutter-lg md:px-gutter-md px-gutter-sm;
	}
	.xmd-container {
		@apply mx-auto w-full max-w-container-sm lg:max-w-container-md;
		@apply lg:px-gutter-lg md:px-gutter-md px-gutter-sm;
	}
	.title {
		@apply text-Black-100 text-2xl lg:text-5xl lg:leading-tight uppercase font-bold font-barlow;
	}
	.smaller-title {
		@apply text-base md:text-[19px] md:leading-7 text-foreground uppercase font-semibold;
	}

	/* <div className={`md-container ${styles.navContainer}`}> */
}

/* SCROLL_BAR */
/* Hide the scrollbar track */
.hide-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 6px;
}

/* Style the scrollbar handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #000;
	border-radius: 6px;
}

/* On hover, style the scrollbar handle */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: #162c15;
}

/* FORM */
.form-input {
	@apply text-Black-100 h-11 focus-visible:ring-4 border focus-visible:ring-offset-2 ring-primary text-lg rounded-none font-barlow;
}

/* Calender */
.rdp-vhidden {
	display: none;
}

.rdp-dropdown_year > div,
.rdp-dropdown_month > div {
	display: none;
}

.rdp-caption_dropdowns {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 5px;
}

.rdp-dropdown {
	@apply h-[26px] text-[#162C15] rounded-[5px] p-0.5 bg-[#EBEBE6] border border-[#162C15];
}

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

.transparent {
	@apply data-[active]:bg-transparent data-[state=open]:bg-transparent focus:bg-transparent bg-transparent hover:bg-transparent;
	@apply focus:bg-transparent focus-visible:ring-transparent;
}

.abt-transparent li a {
	@apply data-[active]:bg-background-accent data-[state=open]:bg-background-accent focus:bg-background-accent bg-background hover:bg-background-accent;
	@apply focus:bg-background-accent focus-visible:ring-background-accent;
	@apply !p-4;
}
